:root {
  --screen-lg: 1024px;
  --screen-md: 768px;
  --screen-sm: 480px;
  --screen-xl: 1280px;

  --font-mono: 'Jetbrains Mono', monospace;
  --font-sans:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  --font-serif: 'Playfair Display Variable', Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

  --font-tiptap: var(--font-serif);

  --background: #fffbf5;
  --foreground: #000000;
  --muted-foreground: #555555;
  --primary-bg: 217 91 60;
  --primary-fg: hsl(0 0% 100%);

  --neutral: 0 0 83;
  --neutral-bg: hsl(var(--neutral));
  --neutral-fg: hsl(0, 0, 25%);

  --surface: hsl(0, 4%, 95%);
  --surface-foreground: hsl(0, 0%, 15%);

  --border: #dcdcdc;

  --header-height: 60px;
  --main-height: calc(100vh - var(--header-height));
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes popoverIn {
  from {
    opacity: 0;
    scale: 0.95;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

@keyframes popoverOut {
  from {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    scale: 0.95;
    transform: translateY(-10px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-mono {
  font-family: var(--font-mono);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.popover-content[data-state='open'] {
  transform-origin: top center;
  animation: popoverIn 0.1s ease-out;
}

.popover-content[data-state='closed'] {
  animation: popoverOut 150ms ease-out;
}

div[contenteditable='true'].tiptap {
  outline: none;
}

.btn {
  padding: 0.5rem 1rem;
  background: hsl(var(--primary-bg));
  color: var(--primary-fg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  transition: background 0.2s;
  border: none;
}

.btn:hover {
  background: hsl(var(--primary-bg) / 0.8);
}

.btn.icon {
  padding: 0.5rem;
}

.btn.muted {
  background: hsl(var(--neutral) / 0.1);
  color: var(--neutral-fg);
  border: 1px solid var(--border);
}

.btn.muted:hover {
  background: hsl(var(--neutral) / 0.3);
}

.tiptap {
  font-family: var(--font-tiptap);
}

.tiptap p {
  line-height: 1.4rem;
}

.tiptap h1 {
  font-size: 1.6em;
  margin-bottom: 0.67em;
  font-weight: 600;
}

.tiptap h2 {
  font-size: 1.5em;
  margin-bottom: 0.67em;
  font-weight: 500;
}

.tiptap h3 {
  font-size: 1.4em;
  margin-bottom: 0.67em;
  font-weight: 500;
}

.tiptap blockquote {
  border-left: 4px solid hsl(var(--primary-bg) / 0.5);
  padding-left: 1em;
  margin-bottom: 1em;
}

.tiptap code {
  font-size: 1rem;
  font-family: var(--font-mono);
  background: hsl(var(--neutral) / 0.4);
  padding: 0.2em 0.4em;
}

.tiptap ul {
  list-style: disc;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.tiptap ol {
  list-style: decimal;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.tiptap ul[data-type='taskList'] {
  list-style: none;
  padding-left: 0;
}

.tiptap ul[data-type='taskList'] li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.tiptap .mention {
  background: hsl(var(--primary-bg));
  color: var(--primary-fg);
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.tiptap .suggestion {
  background: hsl(var(--primary-bg) / 0.8);
  color: var(--primary-fg);
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.mention-tooltip {
  background-color: var(--surface);
  color: var(--surface-foreground);
  min-width: 10ch;
  min-height: 2ch;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;

  .highlighted {
    background-color: hsl(var(--neutral) / 0.3);
  }

  button {
    all: unset;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: var(--font-tiptap);
  }
}